<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="List of best restaurant for you">
    <meta name="theme-color" content="#484bd7" />
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="preconnect" href="https://restaurant-api.dicoding.dev">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>Presto | Restaurant App</title>

</head>

<body>
    <a href="#main-content" class="skip-link">Skip to Content</a>
    <nav>
        <a href="/" class="brand-logo">
            <img src="./icons/logo_light.png" width="115.13" height="30" alt="logo presto">
        </a>
        <button id="hamburgerButton" class="collapse-toggle" type="button" data-toggle="collapse"
            aria-controls="navbarDrawer" aria-expanded="false" aria-label="Toggle navigation">
            <span class="collapse-toggle-icon"></span>
        </button>
        <ul id="navbarDrawer" class="collapse">
            <li><a href="#/">Home</a></li>
            <li><a href="#/favorite">Favorite</a></li>
            <li><a href="https://github.com/MuhammadArifFaizin">About Us</a></li>
        </ul>
    </nav>
    <main id="mainContent" class="sticky-offset margin-bottom-3" tabindex="0"></main>
    <footer></footer>
</body>

</html>