/*
 * Custom css with sass
 */

/*
 * Overwrite Default Style
 */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

/*
 * Defining Variable
 */
$color-primary: #3843D3;
$color-primary-light: lighten($color-primary, 10%);
$color-primary-dark: darken($color-primary, 10%);
$color-light: #fcfcfc;
$color-shadow: #f3f3f3;
$color-border: #bfbfbf;

/*
 * Skeleton UI
 */
$jumbotron-width: 100%;
$jumbotron-height: 70vh;
$jumbotron-skeleton: linear-gradient(lightgrey $jumbotron-height, transparent 0);

$brand-width: 300px;
$brand-height: 100px;
$brand-position: 50% 25vh;
$brand-skeleton: linear-gradient(white $brand-height, transparent 0);
    
$tagline-width: 440px;
$tagline-height: 40px;
$tagline-position: 50% 45vh;
$tagline-skeleton: linear-gradient(white $tagline-height, transparent 0);

$blur-width: 200px;
$blur-size: $blur-width $jumbotron-height;

$colors: (
    "primary": #3843D3, 
    "primary-light": lighten($color-primary, 10%), 
    "primary-dark": darken($color-primary, 10%), 
    "light": #fcfcfc, 
    "transparent": transparent,
    "border": #7c9ae8,
    "red": #db0000,
);

/*
 * Overwrite Default Style
 */
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

main:focus {
    outline: none;
}

body {
    margin: 0;
    background: $color-shadow;
}

img {
    display: block;
}

@for $i from 1 to 6 {
    h#{$i} {
        font-size: calc(4rem / #{$i});
    }
}

/*
 * Custom Style
 */

.sticky-offset {
    margin-top: 2.8rem;
}

/*
 * Nav Menu
 */

nav {
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    z-index: 100;
    width: 100vw;
    background-color: $color-primary;
    justify-content: space-between;
    padding: 0 1rem;
    border-radius: 0 0 .75rem .75rem;
    box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, 0.2);
    
    .brand-logo {
        font-weight: 400;
        display: inline-flex;
        padding: 0.75rem;
        color: $color-light;
        text-decoration: none;
    }

    .collapse-toggle {
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: .25rem;
        cursor: pointer;

        .collapse-toggle-icon {
            display: inline-flex;
            width: 1.5em;
            height: 1.5em;
            vertical-align: middle;
            content: "";
            background: no-repeat center center;
            background-size: 100% 100%;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
    }
    
    ul {
        margin: 0;
        display: inline-flex;
        padding-inline-start: 0;
        flex-direction: column;
        flex-basis: 100%;
        list-style-type: none;

        &.collapse {
            display: none;

            &.show {
                display: inline-flex;
            }
        }
        
        li {
            display: inline-flex;
            list-style-type: none;
        
            a {
                padding: 1rem;
                color: $color-light;
                text-decoration: none;
            }
        }
    }
}

/*
 * Jumbotron
 */
.jumbotron {
    height: 70vh;
    overflow: hidden;
    
    .jumbotron-item {
        height: inherit;
        width: 100%;
        position: relative;
        background: rgba(0, 0, 0, 0.7);
        transition: all 0.5s;
        
        picture {
            color: white;
            background-color: black;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                z-index: -100;
                transition: all ease-in-out 0.2s;
            }
        }
        
        .jumbotron-content {
            height: 100%;
            padding: 3rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: -1;

            .brand-name {
                font-family: 'Comfortaa', sans-serif;
                font-weight: 400;
            }

            .brand-description {
                margin-top: 0;
                font-size: 1.8rem;
            }
        }
    }
    
    .jumbotron-item:hover {
        background: rgba(0, 0, 0, 0.8);

        img {
            transform: scale(1.2);
        }
    }

    &:empty::after {
        content:"";
        display: block;
        width: 100%;
        height: 100%;
    
        background-image:
          linear-gradient(
            90deg, 
            rgba(lightgrey, 0) 0, 
            rgba(lightgrey, .8) 50%, 
            rgba(lightgrey, 0) 100%
          ),                             //animation blur
          $brand-skeleton,          //brand
          $tagline-skeleton,        //tagline
          $jumbotron-skeleton,      //jumbotron
        ;
    
        background-size:
          $blur-size,
          $brand-width $brand-height,
          $tagline-width $tagline-height,
          100% 100%
        ;
        
        background-position:
          0 0,                      //animation
          $brand-position,              //brand
          $tagline-position,            //tagline
          0 0                           //jumbotron
        ;
    
        background-repeat: no-repeat;
        animation: loading 2s infinite;
    }
}

@keyframes loading {
    to {
      background-position:
        100% 0,        
        $brand-position,
        $tagline-position,
        0 0
      ;
    }
}

/*
 * Cards
 */
.card {
    display: flex;
    position: relative;
    flex-direction: row;
    box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.75rem;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
    background: $color-light;
    
    .card-label {
        position: absolute;
        margin: .75rem 0;
        padding: .75rem;
        font-size: 0.9em;
        z-index: 99;
        transition: all ease-in-out 0.3s;
        border-radius: 0 .5rem .5rem 0;
    }

    .card-image {
        width: 100%;
        overflow: hidden;
        
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            transition: all ease-in-out 0.3s;
        }

        &:empty::after {
            content:"";
            display: block;
            width: 100%;
            height: 12rem;
            background-color: lightgrey;
        }
    }

    .card-body {
        padding: .8rem 1rem;
        width: 16rem;
        
        &.card-no-img {
            width: 100%;
        }

        .card-rating {
            font-size: 0.8em;
        }

        .card-title {
            display: block;
            font-size: 1.5rem;
            font-weight: 700;
            margin-top: 0.5rem;
            text-decoration: none;
            color: initial;
            padding-top: .75rem;
        }

    }

    .card-icon {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        p {
            margin-block: 0;
            display: inline-block;
            position: relative;
            right: -50%;
            top: 60%;
            font-size: 12rem;
            line-height: 0;
            opacity: .2;
            color: $color-primary-light;
            z-index: 0;
        }
    }

    &:hover {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    
        .card-label {
            opacity: 0.8;
        }
    
        .card-image {
            img {
                transform: scale(1.2);
            }
        }
    }
}

/*
 * Grid
 */
.d-grid {
    display: grid;

    @for $i from 1 through 3 {
        &.grid-column-#{$i} {
            grid-template-columns: 1fr;
            gap: 1.25rem;
        }
    }
}

/*
 * Flex
 */
.d-flex {
    display: flex;

    @each $key in (row, column) {
        &.flex-#{$key} {
            flex-direction: $key;
        }
    }

    &.justify-content-center {
        justify-content: center;
    }

    &.align-items-center {
        align-items: center;
    }
}

/*
 * Footer
 */
.footer {
    display: flex;
    flex-direction: column;
    background-color: $color-primary;
    padding: 1rem;
    align-items: center;

    .footer-logo {
        color: white;
    }
}

/*
 * Container
 */
.container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

/*
 * Skip to Content
 */
.skip-link {
    position: absolute;
    top: -4rem;
    left: 0;
    background: $color-light;
    text-decoration: none;
    color: initial;
    padding: 1rem;
    z-index: 999;

    &:focus {
        top: 4rem;
    }
}

/*
 * Loading Spinner
 */
@keyframes ripple {
    from {
      transform: scale(0);
      opacity: 1;
    }
  
    to {
      transform: scale(1);
      opacity: 0;
    }
  }
  
  .loader-ripple {
    width: 5rem;
    height: 5rem;
    margin: 2rem;
  
    div {
      position: absolute;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      border: 0.3rem solid $color-primary;
      animation: 1.5s ripple infinite;
  
      &:nth-child(2) {
        animation-delay: 0.5s;
      }
    }
  }

/* 
 * Coloring
 */
@each $key, $val in $colors {
    .bg-#{$key} {
        background: $val !important;
    }
}

@each $key, $val in $colors {
    .text-#{$key} {
        color: $val;
    }
}

/*
 * Sizing
 */
@each $position in top, right, bottom, left {
    @for $i from 0 through 4 {
        .margin-#{$position}-#{$i} {
            margin-#{$position}: #{$i}rem;
        }
    }
    @for $i from 0 through 4 {
        .padding-#{$position}-#{$i} {
            padding-#{$position}: #{$i}rem;
        }
    }
    @for $i from 0 through 4 {
        .border-#{$position}-#{$i} {
            border-#{$position}: solid #{$i}px $color-border;
        }
    }
    @for $i from 0 through 4 {
        .#{$position}-#{$i} {
            #{$position}: #{$i}rem;
        }
    }
}

@for $i from 1 through 4 {
    .text-description-#{$i} {
        display: -webkit-box;
        -webkit-line-clamp: $i;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

@for $i from 1 through 4 {
    .w-#{(100/4)*$i} {
        width: calc((100%/4) * #{$i});
    }
    .h-#{(100/4)*$i} {
        height: calc((100%/4) * #{$i});
    }
}

@for $i from 1 through 5 {
    .min-vw-#{(100/5)*$i} {
        min-width: calc((100vw/5) * #{$i}) !important;
    }
    .min-vh-#{(100/5)*$i} {
        min-height: calc((100vh/5) * #{$i}) !important;
    }
}


/*
 * Positioning
 */
$positions: (
    "absolute": absolute,
    "fixed": fixed,
    "sticky": sticky,
);

@each $key, $position in $positions {
    .position-#{$key} {
        position: $position;
    }
}

@each $pos in left, center, right {
    .text-#{$pos} {
        text-align: $pos;
    }
}
